<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.topherlee.psonememorymanager"
      android:versionCode="082014"
      android:versionName="1.02b">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	
    <application android:icon="@drawable/memcard" android:label="@string/app_name">    	
        <activity android:name="com.topherlee.psonememorymanager.MCTabsWidget"
                  android:label="@string/app_name"                  
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.topherlee.psonememorymanager.Card1Activity"  android:label="@string/app_name"
            android:screenOrientation="landscape"/> 
    	<activity android:name="com.topherlee.psonememorymanager.Card2Activity"  android:label="@string/app_name"
    	    android:screenOrientation="landscape"/>  
    	<activity android:name="com.topherlee.psonememorymanager.FileBrowser" android:label="@string/app_name"
    	    android:screenOrientation="landscape"/>
    	<activity android:name="com.topherlee.psonememorymanager.MCViewActivity"
    	    android:screenOrientation="landscape">
    	    <intent-filter>
            <action android:name="com.tutorials.hellotabwidget.COPYMC"></action>
        	</intent-filter>
    	</activity>
    	    
    	<activity android:name="com.topherlee.psonememorymanager.MCViewActivityTab2"
    	    android:screenOrientation="landscape"/>
    	  	<activity android:name="com.topherlee.psonememorymanager.Prefs" android:screenOrientation="landscape"/>
    	  	<activity android:name="com.topherlee.psonememorymanager.EditHeader" android:screenOrientation="landscape"/>
    </application>
</manifest>